<main role="main">
    <div class="mt-5" role="banner">
        <div class="row">
            <div class="col-md-8">
                <div class="has-redbar mb-5">
                    <h1>Para que lleguen listas capaces y honestas al CONGRESO,  debes tener en cuenta:</h1>
                </div>
                <div class="lead mb-2">
                    <p>1. Al votar por tu candidato, sí o sí, <strong>estás votando por su lista</strong>.</p>
                    <p class="text-link"><a [routerLink]="['/home']" fragment="votopreferencial">Saber más »</a></p>
                </div>
                <div class="lead mb-2">
                    <p>2. Si tu voto es nulo o viciado puedes <strong>favorecer a un PARTIDO POLÍTICO</strong> que no sea de tu agrado.</p>
                    <p class="text-link"><a [routerLink]="['/home']" fragment="votonulo">Saber más »</a></p>
                </div>
                <div class="lead mb-2">
                    <p>3. Una LISTA de buena calidad, requiere congresistas con tres cualidades aparte de la calidad moral.</p>
                    <p class="text-link"><a [routerLink]="['/home']" fragment="listacalidad">Saber más »</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="/assets/img/img_anfora_sanchez_carrion.png" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-5" [routerLink]="['/results']">VER RESULTADOS DE EVALUACIÓN DE CALIDAD DE LAS LISTAS »</a>
            </div>
        </div>
    </div>

    <div class="separator mt-5"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 id="votopreferencial" class="mb-3">1. Al votar por tu candidato, sí o sí, estás votando por su lista</h2>
                <p>El sistema del <strong>Voto Preferencial</strong>, vigente desde 1985, hace que tu candidato favorito arrastre la Lista a la que pertenece. Bajo el método de Voto Preferencial no solo el candidato con suficientes votos tendrá un curul en el Congreso, también  favorecerá a otros miembros  de su  lista que pudieran ser deshonestos o no estar capacitados.</p>
            </div>
        </div>
        <div class="row lead mb-3">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/qkJJDEA3_9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/PRk5cg1q9TM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>    
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="lead mb-2">
                    <p class="text-link"><a target="_blank" href="https://elcomercio.pe/elecciones-2020/abc-electoral-que-es-el-voto-preferencial-y-como-funciona-aqui-te-lo-explicamos-video-elecciones-2020-noticia/">El Comercio: ¿Qué es el voto preferencial y cómo funciona? »</a></p>
                </div>      
                <div class="lead mb-2">
                    <p class="text-link"><a target="_blank" href="https://larepublica.pe/politica/2020/01/12/elecciones-2020-un-riesgo-aun-poco-conocido-sobre-el-voto-preferencial-congreso-jne/">La República: Un riesgo aún poco conocido sobre el voto preferencial »</a></p>
                </div>    
          </div>
        </div>
    </section>


    <div class="separator mt-5"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 id="votonulo" class="mb-3">2. Si tu voto es nulo o viciado puedes favorecer a un partido político que no sea de tu agrado.</h2>
                <p>Si tu voto es nulo o viciado puedes favorecer a un partido político que no sea de tu agrado. Esto es debido a que reduces el universo de votos y por lo tanto puedes contribuir a que un Partido que no deseas, pueda superar en términos de porcentaje el 5% de valla electoral de los votos válidos para permanecer como Partido u obtener más escaños.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="lead mb-2">
                    <p class="text-link"><a target="_blank" href="https://larepublica.pe/politica/2020/01/08/elecciones-2020-quienes-votan-viciado-o-nulo-pueden-favorecer-a-los-partidos-que-rechazan-congreso/">La República: Quienes votan viciado o nulo pueden favorecer a los partidos que rechazan »</a></p>
                </div>
          </div>
        </div>
    </section>

    <div class="separator"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 id="listacalidad" class="mb-3">3. Una LISTA de buena calidad, requiere congresistas con tres cualidades aparte de la calidad moral.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><strong>1. Representatividad:</strong> Para ser representativo respecto de la ciudadanía a la que se debe, el Congreso tiene que tener diversidad entre sus miembros. Diversidad de edad, sexo, sectores sociales e industriales, diversidad cultural y étnica. Así por ejemplo, una congresista entiende y representa mejor a las mujeres,  o un congresista joven hace lo mismo con los jóvenes, o un congresista de la selva representa mejor a los peruanos de esa región. Para conocer si como conjunto una Lista tiene representatividad frente a la ciudadanía, el componente "Representatividad" de nuestra <a class="text-link" [routerLink]="['/formatomatriz']">"Matriz para la Evaluación de la Calidad de las Listas de Candidatos al Parlamento 2020 - 2021"</a> ha analizado todas las Listas que postulan.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><strong>2. Experticia e instrucción:</strong> Una de las funciones de un congresista es legislar. En este contexto, por ejemplo, si un congresista no está debidamente capacitado para interpretar o implementar leyes, puede ser fácilmente manipulado. Si esto se repite en esta u otras capacidades, ya sea en una o varias Listas, se tendrá un Congreso incompetente. Para conocer si como conjunto una Lista tiene las capacidades para legislar a favor de la ciudadanía, el componente "Experticia e Instrucción" de nuestra <a class="text-link" [routerLink]="['/formatomatriz']">"Matriz para la Evaluación de la Calidad de las Listas de Candidatos al Parlamento 2020 - 2021"</a> ha analizado todas las Listas que compiten.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><strong>3. Trayectoria y transparencia:</strong> La honestidad y comportamiento ético a lo largo de la vida personal y profesional de los candidatos son una garantía imprescindible para contar con un Congreso honesto y responsable, y  por lo tanto esto debe ser evaluado. Así por ejemplo, según información del JNE hay candidatos con sentencias penales que van desde malversación de fondos, corrupción, agresión hasta homicidio culposo. Al votar por uno o dos candidatos éticos y responsables se arrastra la Lista a la que pertenecen. Para conocer si como conjunto la Lista de tus candidatos seleccionados es honesta, el componente "Trayectoria y Transparencia" de nuestra <a class="text-link" [routerLink]="['/formatomatriz']">"Matriz para la Evaluación de la Calidad de las Listas de Candidatos al Parlamento 2020 - 2021"</a> ha analizado las Listas de todos los Partidos Políticos.</p>
            </div>
        </div>
    </section>

    <div class="separator"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3">¡Al decidir tu voto... no te equivoques!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Antes de decidir tu voto verifica que tan capaz y honesta es la Lista del Partido Político que puede(n) arrastrar tu(s) candidato(s) favorito(s). Revisa los resultados de nuestra <a class="text-link" [routerLink]="['/formatomatriz']">"Matriz para la Evaluación de la Calidad de las Listas de Candidatos al Parlamento 2020 - 2021"</a>.</p>
                <p>!Infórmate, decide... y comparte tu opinión en las redes!</p>
            </div>
        </div>
    </section>

</main>