<main role="main">
    <div class="mt-5" role="banner">
        <div class="row">
            <div class="has-redbar mb-5">
                <h1>¿Cómo funciona la Matriz para la Evaluación de la Calidad de las Listas de Candidatos al Parlamento
                    2020 - 2021?</h1>
            </div>
        </div>
    </div>

    <div class="separator mt-5"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 id="votopreferencial" class="mb-3">1. Estructura de la Matriz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid" src="/assets/img/img_matriz_estructura.png" >
            </div>
        </div>
    </section>

    <div class="separator mt-5"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 id="votopreferencial" class="mb-3">2. Funcionamiento de la Matriz</h2>
                <p><strong>Paso 1</strong> La Matriz califica mediante los Indicadores de Calidad que correspondan a
                    cada Componente de Calidad, aplicando un puntaje de 0 a 5.</p>
                  <p style="text-decoration: underline;">Componentes de Calidad:</p>
                  <ol style="font-weight: bold;">
                    <li>Representatividad (considera 5 Indicadores de Calidad)</li>
                    <li>Experticia e Instrucción (considera 3 Indicadores de Calidad)</li>
                    <li>Trayectoria y Transparencia (considera 4 Indicadores de Calidad)</li>
                  </ol>
                  <p><strong>Paso 2</strong>: Luego promedia la calificación asignada a cada Indicador de Calidad para
                    obtener el puntaje del Componente de Calidad correspondiente.</p>
                  <p><strong>Paso 3</strong>: Promedia los puntajes de los tres Componentes de Calidad para obtener el
                    puntaje de la calidad de la lista.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid" src="/assets/img/matriz_evaluacion_listas.jpg" >
            </div>
        </div>
    </section>

    <div class="separator mt-5"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 id="votopreferencial" class="mb-3">3. Veamos un ejemplo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid" src="/assets/img/img_matriz_ejemplo.png" >
            </div>
        </div>
    </section>
</main>