<main role="main">
    <div class="mt-5" role="banner">
        <div class="row">
            <div class="col-md-12">
                <div class="has-redbar mb-5">
                    <h1>Agenda Sánchez Carrión</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="lead mb-2">
                    <p>Iniciativa ciudadana plural voluntaria por un congreso de calidad.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="separator mt-5"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-1">¿Quiénes somos?</h2>
                <p>Somos una iniciativa ciudadana plural voluntaria denominada "Agenda Sánchez Carrión", la cual nace
                    bajo el auspicio del Colegio de Ingenieros del Perú - Consejo Nacional.</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/Lp7P1s76CeA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="lead mb-2">
                    <p class="text-link"><a target="_blank"
                        href="https://www.youtube.com/watch?v=Lp7P1s76CeA">
                        Ver entrevista en YouTube »</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" style="height: 300px;"
                    src="/assets/img/img_expreso_agendacomun.png" />
                <div class="lead mb-2">
                    <p class="text-link"><a target="_blank"
                        href="https://www.expreso.com.pe/opinion/jose-cevasco/agenda-parlamentaria-comun/">
                        Ver artículo en Diario Expreso »</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" style="height: 300px;" src="/assets/img/img_cip_colegio_de_ingenieros_del_peru_02.jpg" />
            </div>
            <div class="col-md-6">
                <img class="img-fluid" style="height: 300px;" src="/assets/img/img_cip_colegio_de_ingenieros_del_peru_01.jpg" />
            </div>
        </div>
    </section>

    <!-- <div class="separator"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-1">Propuestas a partidos</h2>
                <p>Dada la coyuntura que enfrenta el próximo Congreso y la importancia de nuestra actual situación
                    política, compartimos públicamente las invitaciones que hemos hecho a todos los partidos políticos.
                </p>
                <p><a href="/assets/files/modelo_oficio.rar" target="_blank"><i class="fas fa-download"></i><span
                            class="ml-2">Descargar modelo de oficio</span></a></p>
                <p><a href="/assets/files/oficios_constancia_recepcion.rar" target="_blank"><i
                            class="fas fa-download"></i><span class="ml-2">Descargar oficios con constancia de
                            recepción</span></a></p>
                <p><a href="/assets/files/cargo_invitación_partidos_candidatos.rar" target="_blank"><i
                            class="fas fa-download"></i><span class="ml-2">Descargar cargo invitación a partidos y candidatos</span></a></p>
            </div>
        </div>
    </section> -->

    <div class="separator"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-1">¿Qué hacemos?</h2>
                <p class="mb-5">Contribuir a que personas capacitadas y honestas accedan al Congreso:</p>
                <ul>
                    <li>Proponemos pautas sobre las cualificaciones deseables en términos de representatividad,
                        experticia e instrucción, trayectoria y transparencia, para que los Partidos Políticos las tomen
                        en cuenta al momento de seleccionar sus candidatos. </li>
                    <li>Informamos a los ciudadanos sobre la calidad de las Listas de Candidatos de cada Partido
                        Político de manera que puedan ejercer un voto informado y responsable.</li>
                    <li> Proponemos a los Partidos Políticos una "Agenda Parlamentaria Comun 2020 – 2021" de manera de
                        priorizar los temas mas urgentes para la ciudadanía y el Estado, para así poder entregar
                        resultados concretos, a pesar de la corta duración de la gestión del Parlamento a ser elegido.
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <div class="separator"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-1">¿Por qué lo hacemos?</h2>
                <p class="mb-5">Buscamos propiciar condiciones para la paz social, impulsar la competitividad de
                    sectores prioritarios y mejorar la calidad de vida de la población del Perú:</p>
                <ul>
                    <li>Nuestras propuestas a los Partidos Politicos para la suscripción de una <span class="text-link" modal-trigger="agendaComunModal">"Agenda Parlamentaria
                        Común 2020 - 2021"</span> y la aplicacion de criterios para la seleccion de pre-candidatos capaces y
                        honestos para la conformación de un "Congreso de Calidad", contribuirán a propiciar soluciones
                        creativas e inteligentes para temas prioritarios relacionados con la mejora de la competitividad
                        y la calidad de vida de la población. Esto es urgente y necesario, dada la actual coyuntura de
                        enfrentamiento político, polarización de la ciudadanía y desaceleración de nuestra economía.
                    </li>
                    <li>La calidad de las Listas de Candidatos es clave, debido a que al aplicarse el método de “Cifra
                        Repartidora” los votos de candidatos específicos que pudieran tener una alta calificación y
                        preferencia ante el electorado, generarán más cupos (escaños) para el partido político al que
                        pertenecen, pudiendo favorecer a una Lista incapaz y deshonesta sin que el votante se percate.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class="separator"></div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-1">Agradecimiento</h2>
                <p class="mb-5">La Iniciativa Ciudadana Plural Voluntaria - Sánchez Carrión, agradece la participación
                    <strong>voluntaria</strong> del Grupo de Trabajo asignado para el desarrollo de la página web y el
                    procesamiento de la información aplicando la Matriz:</p>
                <ul>
                    <li>Jorge del Rio S. (Coordinador)</li>
                    <li>Moisés Alexander Salazar V.</li>
                    <li>Martín del Rio Lobos</li>
                    <li>Eduardo Fernández Aliaga</li>
                    <li>Alejandro Santa María S.</li>
                    <li>Elias Ruíz Chávez</li>
                    <li>Juan Fernández Silva</li>
                </ul>
            </div>
        </div>
    </section>
</main>

<modal-simple title="Agenda Parlamentaria Común 2020 - 2021" elementId="agendaComunModal" closeOnBodyClick="false">
    <img class="img-fluid" src="/assets/img/img_agendacomun.jpg" />
</modal-simple>